{% extends 'base.html' %}  
{% block content %}  

{% load mathfilters %}


<div class="container my-5">
    <div class="my-3">
        <h1>Board ;)</h1>
    </div>
    <div class="text-end">
        <button class="btn btn-outline-dark">Create</button>
    </div>
    <table class="table table-hover my-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Writer</th>
            <th scope="col">Contents</th>
        </tr>
        </thead>
        <tbody>
            {% for i in blist %}  
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ i.subject }}</td>
                <td>{{ i.writer}}</td>
                <td>{{ i.summary }}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if blist.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'board:index' %}?page=1" aria-label="Previous"> << </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'board:index' %}?page={{blist.previous_page_number}}" aria-label="Previous"> < </a>
            </li>
            {% endif %}
            
            {% for i in blist.paginator.page_range %}
                {% if i >= blist.number|sub:1|intdiv:10|mul:10|add:1 and i <= blist.number|sub:1|intdiv:10|add:1|mul:10 %}
                    <li class="page-item {% if i == blist.number %}active{% endif %}">
                        <a class="page-link" href="{% url 'board:index' %}?page={{i}}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if blist.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'board:index' %}?page={{blist.next_page_number}}" aria-label="Next"> > </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'board:index' %}?page={{blist.paginator.num_pages}}" aria-label="Next"> >> </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>

<style>

    .page-link {
        color:black;
        background-color: rgba(122, 112, 164, 0.673);
        border: 1px solid rgba(0, 0, 0, 0.074);
    }

    .page-item.active .page-link {
        background-color: rgba(0, 0, 0, 0.115);
        border:1px solid rgba(0, 0, 0, 0.04);
    }



</style>

{% endblock %}  